PORT=5000
MONGO_URI=mongodb+srv://<usuario>:<contraseña>@cluster.mongodb.net/<basedatos>
JWT_SECRET=<tu_clave_secreta_segura>
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=<tu_email_smtp@gmail.com>
SMTP_PASS=<tu_contraseña_de_aplicacion>
MAIL_FROM=<tu_email_smtp@gmail.com>
FRONTEND_URL=http://localhost:5173
