/* --- Definición del Color --- */
:root {

  --color-marca-verde: #7c9c3c; 
}


.navbar-brand {
  color: #fff !important;
  font-family: 'Georgia', serif; 
  font-size: 1.8rem;
}


.pizza-card {
  background-color: #1a1a1a !important; /* Un gris muy oscuro, no negro puro */
  border-radius: 15px !important;
  overflow: hidden;
}


.precio-badge {
  background-color: var(--color-marca-verde);
  color: #fff;
  padding: 5px 12px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 0.9rem;
}


.btn-marca {
  background-color: var(--color-marca-verde) !important;
  color: #fff !important;
  border: none !important;
  border-radius: 10px !important;
  font-weight: bold !important;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.btn-marca:hover {
  background-color: #6a8632 !important; 
}


.subtitulo-especial {
  color: #6d7a2d; 
  letter-spacing: 0.3em; 
  font-size: 0.8rem;
  font-weight: 600;
}


.display-4 {
  font-family: 'Georgia', serif; 
}